<!DOCTYPE html>
<html lang="hu" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>StageManager</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <script type="text/javascript">
        const ws = new WebSocket("ws://192.168.0.169:5000");

        ws.onopen = function () {
            //ws.send("Message to send");
        };

        ws.onmessage = function (evt) {
            const msg = evt.data;

            if (msg === 'refresh') {/*
                document.getElementById("nextButt").hidden = false;
                document.getElementById("prevButt").hidden = true;*/
                //alert(msg);
                location.reload();
            }
        };

        ws.onclose = function () {
            //alert("Connection is closed...");
        };

        function nextItem() {
            ws.send('inc');
            ws.send('refresh');
        }

        function previousItem() {
            ws.send('dec');
            ws.send('refresh');
        }
    </script>

</head>

<body>

<% include navbar %>
<!--
<div class="progress">
    <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
-->

<div class="container-float mx-4 mt-4">
    <div class="row mb-3">
        <div class="col-6">
            <a class="btn btn-outline-dark" href="javascript:previousItem()" style="font-size: 2em">Vissza</a>
        </div>
        <div class="col-6">
            <a class="btn btn-outline-dark float-right" href="javascript:nextItem()" style="font-size: 2em">Előre</a>
        </div>
    </div>


    <div class="row">
        <% if(data.show1 === null && data.show2 === null) { %>
            <div class="jumbotron jumbotron-fluid col">
                <div class="container">
                    <h1 class="display-4">Jelenleg nincs aktuális produkció a rendszerben</h1>
                    <hr class="my-4">
                    <p>Itt tudsz hozzáadni produkciókat:</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="/prod/new" role="button">Új műsorszám</a>
                    </p>
                </div>
            </div>
        <% } %>

        <% if(data.show1 !== null) { %>
            <div class="col-12 col-lg-6">
                <div class="card text-white bg-success mb-5 shadow">
                    <div class="card-header pb-0">
                        <div class="container-float">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">Most zajlik</h3>
                                    <p class="card-title disabled"><%= data.show1.num %> - <%= data.show1.name %></p>
                                </div>
                                <div class="col">
                                    <a href="/prod/<%= data.show1._id %>/edit/"
                                       class="btn btn-outline-danger float-right">Szerkesztés</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-1">
                        <ul class="list-group list-group-flush bg-success">
                            <li class="list-group-item bg-success p-0 pt-2 pl-3">
                                Előadó: <%= data.show1.performer %></li>
                            <li class="list-group-item bg-success p-0 pt-3 pl-3">Szükségletek:</li>
                            <ul class="list-group-item list-group bg-success p-0 pl-3">
                                <% if(typeof data.show1.needed.mic !== "undefined") { %>
                                    <li class="list-group-item bg-success pb-0 pt-2">
                                        Mikrofon: <%= data.show1.needed.mic %></li>
                                <% }
                                if(typeof data.show1.needed.music !== "undefined") { %>
                                    <li class="list-group-item bg-success pb-0 pt-2">
                                        Zene: <%= data.show1.needed.music %></li>
                                <% }
                                if(typeof data.show1.needed.light !== "undefined") { %>
                                    <li class="list-group-item bg-success pb-0 pt-2">
                                        Fény: <%= data.show1.needed.light %></li>
                                <% } %>
                                <li class="list-group-item bg-success pb-0 pt-2">Függöny:
                                    <% if(data.show1.needed.curtain === "closed") { %>össze
                                    <% } else { %>szét
                                    <% } %>
                                </li>
                                <% if(typeof data.show1.needed.other !== "undefined") { %>
                                    <li class="list-group-item bg-success pb-0 pt-2">Egyéb: szerencsére nincs</li>
                                <% } %>
                            </ul>
                        </ul>
                    </div>
                    <% if(typeof data.show1.img !== "undefined") { %>
                        <a href="/img/<%= data.show1.img %>" target="_blank"><img src="/img/<%= data.show1.img %>"
                                                                                  class="card-img-top"></a>
                    <% } %>
                </div>
            </div>
        <% }
        if(data.show2 !== null) { %>
            <div class="col-12 col-lg-6 ">
                <div class="card text-white bg-warning mb-5 shadow">
                    <div class="card-header pb-0">
                        <div class="container-float">
                            <div class="row">
                                <div class="col">
                                    <h3 class="card-title">Következő</h3>
                                    <p class="card-title disabled"><%= data.show2.num %> - <%= data.show2.name %></p>
                                </div>
                                <div class="col">
                                    <a href="/prod/<%= data.show2._id %>/edit"
                                       class="btn btn-outline-danger float-right">Szerkesztés</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-1">
                        <ul class="list-group list-group-flush bg-warning">
                            <% if(typeof data.show2.needed.mic !== "undefined") { %>
                                <li class="list-group-item bg-warning pb-0 pt-2">
                                    Mikrofon: <%= data.show2.needed.mic %></li>
                            <% }
                            if(typeof data.show2.needed.music !== "undefined") { %>
                                <li class="list-group-item bg-warning pb-0 pt-2">
                                    Zene: <%= data.show2.needed.music %></li>
                            <% }
                            if(typeof data.show2.needed.light !== "undefined") { %>
                                <li class="list-group-item bg-warning pb-0 pt-2">
                                    Fény: <%= data.show2.needed.light %></li>
                            <% } %>
                            <li class="list-group-item bg-warning pb-0 pt-2">Függöny:
                                <% if(data.show2.needed.curtain === "closed") { %>össze
                                <% } else { %>szét
                                <% } %>
                            </li>
                            <% if(typeof data.show2.needed.other !== "undefined") { %>
                                <li class="list-group-item bg-warning pb-0 pt-2">Egyéb: szerencsére nincs</li>
                            <% } %>
                        </ul>
                    </div>
                    <% if(typeof data.show2.img !== "undefined") { %>
                        <a href="/img/<%= data.show2.img %>" target="_blank"><img src="/img/<%= data.show2.img %>"
                                                                                  class="card-img-top"></a>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>

<% include footer %>
